.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 5px;
    
    .bannerAbout{
        width: 100%;
        height: 130px;   
    }

    .collapseContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        padding: 0;
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .about {
        width: 100%;
        max-width: 1240px;
        padding: 0 70px;
        display: flex;
        flex-direction: column;
        gap: 35px;
        
        .bannerAbout{
            width: 100%;
            height: 220px;
        
        }
    
        .collapseContainer{
            width: 100%;
            max-width: 1023px;
            color: rgb(255, 255, 255);
    
        }
    }


}