.about{
    margin: 15px 50px;
    .bannerAbout{
        width: 100%;
        height: 200px;
    }
    img{
        width: 100%;
        height: 200px;
        border-radius: 25px;
        filter: brightness(70%);
    }
}