.carrousel {
    position: relative;

    .arrowLeft{
        position: absolute;
        width: 24px; 
        height: 24px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        filter: brightness(0) invert(1);
        cursor: pointer;
    }

    .pictureCarrousel{
        width: 335px;
        height: 255px;
        border-radius: 10px;
    }

    .arrowRight{
        position: absolute;
        width: 24px; 
        height: 24px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        filter: brightness(0) invert(1);
        cursor: pointer;
     }

     .pageCounter{
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        color: rgba(255, 255, 255, 1);
     }
}

@media screen and (min-width: 768px) {
    .carrousel {
        position: relative;
        width: 100%;
    
        .arrowLeft{
            position: absolute;
            width: 24px; 
            height: 24px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    
        .pictureCarrousel{
            width: 1023px;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
        }
    
        .arrowRight{
            position: absolute;
            width: 24px; 
            height: 24px;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
         }
    }
}