.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
    img{
        height: 45px;
    }
    nav{
        ul{
            display: flex;
            gap: 20px;
            a{
                text-decoration: none;
                color: rgba(0, 0, 0, 1);
                &.underline{
                    text-decoration: underline;
                }
            }
            li{
                font-size: 0.75rem;
                text-transform: uppercase;                
                list-style: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header{
        padding: 25px 70px;
        margin: 0;
        max-width: 1240px;
        img{
            height: 68px;
        }
        nav{
            ul{
                display: flex;
                gap: 26px;
                a{
                    text-decoration: none;
                    color: rgba(0, 0, 0, 1);
                    &.underline{
                        text-decoration: underline;
                    }
                }
                li{
                    font-size: 1.5rem;
                    text-transform: none;
                    list-style: none;
                }
            }
        }
        
    }    
}
