.home {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 20px;
    .bannerHome{
        width: 100%;
        position: relative;        
        h1{
            position: absolute;
            margin: 0;
            color: rgba(255, 255, 255, 1);
            font-size: 1.5rem;
            top: 31px;
            left: 16px;
        }
    }
    .gallery {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}

@media screen and (min-width: 768px) {
    .home {
        width: 1240px;
        padding: 0 70px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .bannerHome{
            width: 100%;
            position: relative;
            
            h1{
                position: absolute;
                text-align: center;
                width: 100%;
                margin: 0;
                color: rgba(255, 255, 255, 1);
                font-size: 2.5rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .gallery {
            padding: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            overflow: hidden ;
            gap: 30px;
            background-color: rgba(246, 246, 246, 1);
            border-radius: 25px;
        }
}
}