.stars{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    
    
}

@media screen and (min-width: 768px) {
    .stars{
        gap: 10px;
        display: flex;
        justify-content: flex-end;
        .greyStar .redStar {
            width: 20px;
            height: 20px;
        }
    }
}